server:
  port: 8088

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      httpclient:
        connect-timeout: 3000
        response-timeout: 10s
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/auth/**
        - id: student-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/students/**
        - id: grade-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/v1/grades/**

jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"

security:
  public-paths:
    - /api/v1/auth/register
    - /api/v1/auth/login
    - /api/v1/auth/refresh
    - /api/v1/auth/logout
    - /actuator/**
    - /swagger-ui/**
    - /v3/api-docs/**
  permissions-mapping:
    - methods: [GET]
      paths: [/api/v1/students/me]
      require: [STUDENT_READ]
    - methods: [GET]
      paths: [/api/v1/students/**]
      require: [STUDENT_READ]
    - methods: [GET]
      paths: [/api/v1/grades/me]
      require: [GRADE_READ]
    - methods: [GET]
      paths: [/api/v1/grades/**]
      require: [GRADE_READ]
    - methods: [POST, PUT, DELETE]
      paths: [/api/v1/grades/**]
      require: [GRADE_WRITE]
    - methods: [ GET,POST,PUT,DELETE ]
      paths: [ /api/v1/auth/admin/** ]
      require: [ ROLE_ADMIN ]

  logging:
    level:
      org.springframework.security: DEBUG
      org.springframework.security.oauth2: DEBUG
      org.springframework.cloud.gateway: DEBUG
      reactor.netty.http.server: INFO
      reactor.netty.http.client: INFO